h1{
    font-size: large;
    font-weight: bold;
    color: aqua;
}

body{
    font-weight: bolder;
    font-family: system-ui;
}

h1{
    color: darkblue;
    background-color: yellow;
}

h2{
    color: antiquewhite;
    background-color: black;
}

h6{
    color: red;
}